<header>
  <nav class="relative bg-white dark:bg-gray-950 shadow dark:shadow-black z-10">
    <div class="px-2 mx-auto">
      <div class="flex items-center justify-between h-16">
        <div class=" flex items-center">
          <div class="">
            <div class="flex items-baseline ml-2 space-x-4">
              <a class="text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#">
                Sobre mí
              </a>
              <a class="text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#">
                Contacto
              </a>
              <button class="flex transition-transform hover:scale-125 align-middle"
                (click)="darkMode.set(!darkMode())">
                <span *ngIf="!darkMode()"> <i class="fa-solid fa-moon dark:text-white"></i></span>
                <span *ngIf="darkMode()"> <i class="fa-solid fa-lightbulb dark:text-white"></i></span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>

<main class="relative z-0">
  <div class="py-16 flex content-center items-center justify-center bg-white dark:bg-slate-900 mx-auto">

    <div class="container">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto ">
          <div class="pr-12">
            <h1 class="text-gray-950 dark:text-slate-100 font-semibold text-2xl md:text-5xl text-center">
              <span>Alberto Chio <a class="text-xl md:text-3xl" target="_blank" rel="noopener noreferrer"
                  href="https://mx.linkedin.com/in/alberto-chio-lopez-3a74ba199">@BetoChiLo</a> </span>
            </h1>
            <p class="text-gray-800 dark:text-slate-300 mt-6 text-base md:text-xl">
              Hola a todos soy un desarrollador full stack con más de 3 años de experiencia, enfocado a front end. <br>
              <br> <small>¡Puedes aportar ideas o PoCs a desarrollar en la sección de <a href=""
                  class="underline">contacto</a>!</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="py-10 bg-slate-100 dark:bg-slate-800 ">
    <h1 class="text-gray-950 dark:text-slate-100 font-semibold text-2xl md:text-4xl text-center">
      Frameworks con los que tengo experiencia
    </h1>
    <div class="container mx-auto px-4 pt-6">
      <div class="flex justify-center flex-wrap">
        <div class="pt-6 w-8/12 sm:w-4/12 px-4 text-center">
          <div
            class="flex flex-col min-w-0 break-words bg-white dark:dark:bg-slate-500 w-full mb-8 shadow-lg rounded-lg">
            <div class="card px-4 py-5 flex-auto">
              <div
                class="inline-flex items-center justify-center w-16 h-16 mb-5">
                <img src="assets\images\svg\angular-icon.svg">
              </div>
              <h6 class="text-base md:text-xl font-semibold dark:text-slate-100">Angular</h6>

            </div>
          </div>
        </div>
        <div class="pt-6 w-8/12 sm:w-4/12 px-4 text-center">
          <div
            class="flex flex-col min-w-0 break-words bg-white dark:dark:bg-slate-500 w-full mb-8 shadow-lg rounded-lg">
            <div class="card px-4 py-5 flex-auto">
              <div
              class="inline-flex items-center justify-center w-16 h-16 mb-5 rounded-full p-2 dark:bg-white">
                <img src="assets\images\svg\spring-3.svg">
              </div>
              <h6 class="text-base md:text-xl font-semibold dark:text-slate-100">Java Spring</h6>

            </div>
          </div>
        </div>

      </div>
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">

          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            asdasd
          </h3>
          <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700">
            asss
          </p>
          <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700">
            sss
          </p>
          
        </div>
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-pink-600">
            
            
          </div>
        </div>
      </div>
    </div>
  </section>

</main>