<header>
  <nav class="relative bg-white dark:bg-gray-950 shadow dark:shadow-black z-10">
    <div class="px-2 mx-auto">
      <div class="flex items-center justify-between h-16">
        <div class=" flex items-center">
          <div class="">
            <div class="flex items-baseline ml-2 space-x-4">
              <a class="text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#">
                Sobre mí
              </a>
              <a class="text-gray-300  hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md text-sm font-medium"
                href="/#">
                Contacto
              </a>
              <button class="flex transition-transform hover:scale-125 align-middle"
                (click)="darkMode.set(!darkMode())">
                <span *ngIf="!darkMode()"> <i class="fa-solid fa-moon dark:text-white"></i></span>
                <span *ngIf="darkMode()"> <i class="fa-solid fa-lightbulb dark:text-white"></i></span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>

<main class="relative z-0">
  <div class="py-16 flex content-center items-center justify-center bg-white dark:bg-slate-900 mx-auto">

    <div class="container">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto ">
          <div class="pr-12">
            <h1 class="text-gray-950 dark:text-slate-100 font-semibold text-2xl md:text-5xl text-center">
              <span>Alberto Chio <a class="text-xl md:text-3xl" target="_blank" rel="noopener noreferrer"
                  href="https://mx.linkedin.com/in/alberto-chio-lopez-3a74ba199">@BetoChiLo</a> </span>
            </h1>
            <p class="text-gray-800 dark:text-slate-300 mt-6 text-base md:text-xl">
              Hola a todos soy un desarrollador full stack con más de 3 años de experiencia, enfocado a front end. <br>
              <br> <small>¡Puedes aportar ideas o PoCs a desarrollar en la sección de <a href=""
                  class="underline">contacto</a>!</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="py-10 bg-slate-100 dark:bg-slate-800 ">
    <h1 class="text-gray-950 dark:text-slate-100 font-semibold text-2xl md:text-4xl text-center">
      Centrado en las tecnologías:
    </h1>
    <div class="container mx-auto px-4 pt-6">
      <div class="flex justify-center flex-wrap">
        <ng-container *ngFor="let card of cards">
          <div class="pt-6 w-5/12 sm:w-3/12 px-4 text-center hover:-translate-y-6 duration-200">
            <div
              class="flex flex-col min-w-0 break-words bg-white dark:dark:bg-slate-500 w-full mb-8 shadow-lg rounded-lg">
              <div class="card pt-5 flex flex-col justify-center self-center items-center">
                <div
                class="inline-flex items-center justify-center w-16 h-16 mb-5 rounded-full p-2 dark:bg-white">
                  <img [src]="card.src">
                </div>
                
                <div class="container">
                  <h6 data-tooltip-target="tooltip-default" class="text-base md:text-xl font-semibold dark:text-slate-100">{{card.description}}</h6>
                </div>                
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
  <section class="py-10 bg-slate-100 dark:bg-slate-800 ">
    <h1 class="text-gray-950 dark:text-slate-100 font-semibold text-2xl md:text-4xl text-center">
      Mi experiencia laboral:
    </h1>
    <div class="container w-6/12 mx-auto px-4 pt-10">
      <ol
      class="border-l border-neutral-300 dark:border-neutral-500 md:flex md:justify-between md:border-l-0 md:border-t">
      
      <li>
        <div class="flex-start flex items-center pt-2 md:block md:pt-0">
          <div
            class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500 md:-mt-[5px] md:ml-0 md:mr-0"></div>
          <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-300">
            08.2018
          </p>
        </div>
        <div class="ml-4 mt-2 pb-5 md:ml-0">
          <h4 class="mb-1.5 text-xl md:text-2xl dark:text-slate-100">Xpertal</h4>
        </div>
      </li>
    
      <!--Second item-->
      <li>
        <div class="flex-start flex items-center pt-2 md:block md:pt-0">
          <div
            class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500 md:-mt-[5px] md:ml-0 md:mr-0"></div>
          <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-300">
            02.2021
          </p>
        </div>
        <div class="ml-4 mt-2 pb-5 md:ml-0">
          <h4 class="mb-1.5 text-xl md:text-2xl dark:text-slate-100">ASG Advisory Services</h4>
        </div>
      </li>
    
      <li>
        <div class="flex-start flex items-center pt-2 md:block md:pt-0">
          <div
            class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-neutral-300 dark:bg-neutral-500 md:-mt-[5px] md:ml-0 md:mr-0"></div>
          <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-300">
            02.2023
          </p>
        </div>
        <div class="ml-4 mt-2 pb-5 md:ml-0">
          <h4 class="mb-1.5 text-xl md:text-2xl dark:text-slate-100">Minsait</h4>
        </div>
      </li>
    </ol>
    </div>
  </section>
</main>